.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #262D31;
}
/* CAPA BLANCA PRINCIPAL */
.app__body{
    display: flex;
    background-color: #131C21;
    margin-top: -50px;/* MARGEN DE ARRIBA DEL CONTENEDOR  */
    height: 90vh; /* 90% DE LA PANTALLA EN ALTURA */
    width: 90vw;/* 90% DE PANTALLA EN ANCHO */
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}